Flask==1.0.2
Flask-Cors==3.0.2
flask-heroku==0.1.9
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
h5py==2.7.1
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.1.6
MarkupSafe==1.1.0
modulegraph==0.10.4
mysql-connector==2.1.6
mysql-connector-python==8.0.13
numpy==1.14.3
opencv-python==3.4.0.12
pandas==0.22.0
psycopg2==2.7.6.1
py2app==0.7.3
requests==2.20.1
scikit-learn==0.19.1
scipy==1.0.1
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.14
urllib3==1.24.1
virtualenv==15.1.0
Werkzeug==0.14.1


